//autocomplete.sass
.autocomplete
  &-suggestions,
  &-suggestions-hotel
    border: 1px solid #999
    background: #ffffff
    cursor: default
    overflow: auto
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64)
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64)
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64)

    strong
      font-weight: bold
      color: #000000

  &-suggestion
    padding: 2px 5px
    white-space: nowrap
    overflow: hidden

  &-no-suggestion
    padding: 2px 5px

  &-selected
    background: #f0f0f0

  &-group
    padding: 2px 5px

    strong
      font-weight: bold
      font-size: 16px
      color: #000000
      display: block
      border-bottom: 1px solid #000000

  &-suggestions-hotel
    .autocomplete-suggestion
      padding: 6px 8px
      border-bottom: 1px solid #e6e6e6

      &:last-child
        border-bottom: 0 none

    .suggestion-type
      font-size: 12px
      font-style: italic
      color: #999999
      margin-top: 2px


.wraper-input-city
  position: relative

  .input-city-loading
    position: absolute
    top: 12px
    left: 87%
    margin-left: -34px

  &.onload
    .input-city-loading
      display: block!important
