// _form.sass

.text-select
	&-wraper
		position: relative

	&-options
		height: 0
		position: absolute
		top: 48px
		left: 47px
		overflow: hidden
		+transition( all 0.6s ease )

		&.open
			height: auto

		ul
			padding: 0
			margin: 0
			list-style: none
			width: 45px
			background-color: #ffffff
			border: 1px solid #e6e6e6
			color: #555555

			li
				padding: 6px 0
				text-align: center

				&:hover
					cursor: pointer
					background-color: #eeeeee

//
//Hotel search
.night-spend
	.text-select-input
		cursor: pointer

	.text-select-options
		left: 0

		ul
			width: 188px

			li
				text-align: left
				padding: 8px

#form-email-subscribe
	.subcribe-field
		position: relative

		&.subcribe-field-name
			.form-field-error
				top: -48px

				&:after,
				&:before
					top: auto
					bottom: -20px

				&:before
					border-bottom-color: transparent
					border-top-color: #ff6600
					top: auto
					bottom: -28px

				&:after
					border-bottom-color: transparent
					border-top-color: #ffffff

		.form-field-error
			position: absolute
			top: 48px
			left: 10%
			width: 50%
			font-family: 'Open Sans', sans-serif
			text-align: left
			padding: 10px
			background-color: #ffffff
			border: 2px solid #ff6600
			+border-radius( 5px )
			z-index: 9990

			&:after,
			&:before
				content: ''
				display: block
				width: 0
				height: 0
				border-color: transparent
				border-style: solid
				position: absolute
				top: -20px
				left: 15px

			&:before
				border-bottom-color: #ff6600
				border-width: 14px
				top: -28px
				left: 11px

			&:after
				border-bottom-color: #ffffff
				border-width: 10px


.login-field
	position: relative

	&.login-field-first
		.form-field-error
			top: -48px

			&:after,
			&:before
				top: auto
				bottom: -20px

			&:before
				border-bottom-color: transparent
				border-top-color: #ff6600
				top: auto
				bottom: -28px

			&:after
				border-bottom-color: transparent
				border-top-color: #ffffff

	.form-field-error
		position: absolute
		top: 48px
		left: 0
		width: 90%
		font-family: 'Open Sans', sans-serif
		text-align: left
		padding: 10px
		background-color: #ffffff
		border: 2px solid #ff6600
		+border-radius( 5px )
		z-index: 9990

		&:after,
		&:before
			content: ''
			display: block
			width: 0
			height: 0
			border-color: transparent
			border-style: solid
			position: absolute
			top: -20px
			left: 15px

		&:before
			border-bottom-color: #ff6600
			border-width: 14px
			top: -28px
			left: 11px

		&:after
			border-bottom-color: #ffffff
			border-width: 10px

#personal-data-form
	.form-field-error
		position: relative
		top: -10px
