// Change to watch in slow motion
$duration: .5s;

$size : 100%;
$toggled-size : 1;

$bg : #449A88;
$nav-bg  : none;
$content-bg : #fff;

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 0px;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  z-index: 600;
  opacity: .8;

  .navicon:before, .navicon:after {
    transition: $duration/2;
  }

  &:hover {
    transition: $duration;
    opacity: 1;

    .navicon:before, .navicon:after {
      transition: $duration/2;
    }

    .navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
  }
}

.navicon {
  position: relative;
  width: 25px;
  height: 3px;
  background: $content-bg;
  transition: $duration;
  border-radius: 2.5rem;

  &:before, &:after {
    display: block;
    content: "";
    height: 3px;
    width: 25px;
    background: $content-bg;
    position: absolute;
    z-index: -1;
    transition: $duration $duration/2;
    border-radius: 1rem;
  }

  &:before { top: 7px; }
  &:after { top: -7px; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $duration;
}

/* Minus */
.open { transform: scale($toggled-size); }

/* Arrows */
.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
    &:before, &:after {
      width: 1.5rem;
    }

    &:before { transform: rotate(35deg); transform-origin: left top; }
    &:after { transform: rotate(-35deg); transform-origin: left bottom; }
}
.open.uarr { transform: scale($toggled-size) rotate(90deg); }

/* Arrows */
.open.rarr .navicon {
    &:before { transform: translate3d(1em,0,0) rotate(-35deg); transform-origin: right top; }
    &:after { transform: translate3d(1em,0,0) rotate(35deg); transform-origin: right bottom; }
}

/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;

    &:before { transform: rotate(-45deg); }
    &:after { transform: rotate(45deg); }
  }
}
.open.plus { 
  transform: scale($toggled-size) rotate(45deg) 
}




nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  position: absolute;
  z-index: 400;
  width: 100%;
  background: $nav-bg;
  text-align: left;
  border-radius: .5rem .5rem 0 0;
  padding: 0 1rem;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}


