// Import Bootstrap Compass integration
@import "bootstrap-compass"
// Import custom Bootstrap variables
@import "bootstrap-variables"
// Import Bootstrap for Sass
@import "bootstrap"
// Import font Sass
@import "font"
//import compass
@import "compass"
@import "compass/css3/user-interface"
// Autocomplete
@import "autocomplete"
// Form style
@import "form"
// Import menu sass
@import "menu"
// Import animated
@import "animated"

a
	outline: 0
	border: none
	&:focus
		outline: 0
		border: none
	&:active
		outline: 0
		border: none
input
	&:focus
		outline: none !important
		border: 1px solid #f58214!important
.hide-over
	overflow: hidden

//big-overlay-modal
.overlay-big-modal
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 800
	overflow: hidden
	background: rgba(255, 255, 255, 0.95)
	padding: 80px 0
	opacity: 0
	opacity: 0
	-ms-transform: scale(0)
	-webkit-transform: scale(0)
	transform: scale(0)
	.close-button-big-overlay
		background: #ff3000
		padding: 2px 10px 4px 10px
		opacity: 1
		color: #fff
		font-family: "Open Sans", sans-serif
		font-weight: 300
		font-size: 20px
		cursor: pointer
		position: absolute
		top: 20px
		right: 20px
	.add-orange-border
		border-left: 2px dashed #f58214
		border-right: 2px dashed #f58214
	.add-orange-border-left
		border-left: 2px dashed #f58214
	.add-orange-border-right
		border-right: 2px dashed #f58214
	.wraper-detail-partner
		text-align: center
		h3
			font-family: 'gooddogregular'
			font-size: 40px
			color: #f58214
			text-align: center
			margin-bottom: 45px
		@media (max-width: $screen-md-max)
			.image-detail
				img
					width: 80%
	@media (max-width: $screen-sm-max)
		overflow-y: auto 
		.add-orange-border
			border: none
.mobile-overlay
	background: rgba(33,33,33, 0.8)
	height: 100%
	width: 100%
	z-index: 600
	visibility: hidden
	top: 0
	left: 0
	opacity: 0
	position: fixed
	

// Hapy Styling guys ((((. _ .))))
.fixed
	position: fixed
	left: 0
	top: 0
.no-padding
	padding: 0
	@media (max-width: $screen-xs-max)
		padding-left: 15px
		padding-right: 15px
.wraper-outer-section
	overflow: hidden
	width: 100%
	position: relative
.add-border
	border-right: 1px dashed #fff
	border-left: 1px dashed #fff
	@media (max-width: $screen-md-min)
		border: none
#top-section
	&.not-home
		background: url("../images/not-home-bg.png") center top no-repeat
		background-size: cover
		padding: 150px 0 20px 0
		min-height: 350px
		#desktop-navigation
			background: url("../images/header-bg.png") center  no-repeat
			background-size: cover
			top: 0
			padding-top: 10px
			@media (max-width: $screen-xs-max)
				display: none
			@media (max-width: $screen-md-max)
				height: 140px
			ul
				width: 100%
				li
					a
						position: relative
						color: #fff
						text-decoration: none
						&:before
							content: ""
							position: absolute
							width: 100%
							height: 2px
							bottom: -3px
							left: 0
							background-color: #fff5d9
							visibility: hidden
							-webkit-transform: scaleX(0)
							transform: scaleX(0)
							-webkit-transition: all 0.3s ease-in-out 0s
							transition: all 0.3s ease-in-out 0s
						&:hover
							color: #fff5d9
							&:before
								visibility: visible
								-webkit-transform: scaleX(1)
								transform: scaleX(1)
					&.logo
						a
							&:hover
								&:before
									visibility: hidden
		.top-tagline
			h2
				font-family: 'gooddogregular'
				color: #ff6600
				font-size: 75px
				margin: 0
				@media (max-width: $screen-xs-max)
					font-size: 65px
			span
				display: block
				font-family: 'gooddogregular'
				color: #ff6600
				font-size: 75px
				line-height: 35px

				@media (max-width: $screen-xs-max)
					font-size: 65px
				
	#desktop-navigation
		position: absolute
		top: 13px
		width: 100%
		left: 0
		z-index: 300
		text-align: center
		@media (max-width: $screen-xs-max)
			display: none
		ul
			padding: 0
			li
				display: inline-block
				margin: 0 22px
				@media (max-width: $screen-md-max)
					margin: 0 20px
				a
					font-family: 'gooddogregular'
					color: #fff
					position: relative
					font-size: 25px
					text-decoration: none
					-webkit-transition: all 0.2s ease
					-moz-transition: all 0.2s ease
					-o-transition: all 0.2s ease
					transition: all 0.2s ease
					&:before
						content: ""
						position: absolute
						width: 100%
						height: 2px
						bottom: -3px
						left: 0
						background-color: #f58214
						visibility: hidden
						-webkit-transform: scaleX(0)
						transform: scaleX(0)
						-webkit-transition: all 0.3s ease-in-out 0s
						transition: all 0.3s ease-in-out 0s
					&:hover
						color: #f58214
						&:before
							visibility: visible
							-webkit-transform: scaleX(1)
							transform: scaleX(1)
				&.logo
					a
						&:hover
							&:before
								visibility: hidden
						
					&:focus, &:active
						outline: none
	.logo-mobile
		display: none
		@media (max-width: $screen-xs-max)
			display: inline-block
			width: 100%
			position: absolute
			text-align: center
			top: 10px
			left: 0
			z-index: 500
	#mobile-navigation
		display: none
		@media (max-width: $screen-xs-max)
			display: block
			position: absolute
			top: 0
			z-index: 700
			width: 50%
			.menu
				z-index: 800
				position: relative
			.mobile-list-menu
				position: absolute
				width: 190px
				height: 100%
				left: -250px
				top: 0
				padding: 15px
				background: #ffcc69
				ul
					top: 35px
					position: relative
					padding: 0
					li
						list-style: none
						margin-bottom: 10px
						display: block
						a
							font-family: 'gooddogregular'
							color: #fff
							font-size: 25px
							display: block




	.flexslider
		.wraper-scroll
			position: absolute
			width: 100%
			text-align: center
			bottom: 80px
			@media (max-width: $screen-xs-max)
				bottom: 100px
			.scroll-arrow
				position: relative
				display: inline-block
				cursor: pointer
				height: 21px
				background: url("../images/arrow-down.png")no-repeat 0 0
				width: 21px
				z-index: 100
				text-indent: -9999px
				text-align: center
				-webkit-animation: 3s arrow infinite ease
				animation: 3s arrow infinite ease
				&:hover
					text-decoration: none

		.slides
			.container-slider
				width: 100%
				height: 650px
				background-size: cover!important
				background-repeat: no-repeat
				position: relative
				@media (max-width: $screen-xs-max)
					height: 500px
				.wraper-slider-tagline
					position: relative
					width: 700px
					margin: 0 auto
					height: 100%
					@media (max-width: $screen-xs-max)
						width: 80%
					.content-slider-tagline
						position: absolute
						bottom: 75px
						width: 100%
						text-align: center
						@media (max-width: $screen-xs-max)
							bottom: 60px
						.small-text-slider
							font-family: 'Open Sans', sans-serif
							color: #fff
							font-size: 20px
							font-weight: 300
							letter-spacing: 1px
							opacity: 0
							@media (max-width: $screen-xs-max)
								font-size: 17px
							font
								font-size: 30px
								@media (max-width: $screen-xs-max)
									font-size: 20px
						.big-text-slider
							font-family: 'Montserrat', sans-serif
							color: #fff
							font-size: 47px
							font-weight: 700
							opacity: 0
							@media (max-width: $screen-xs-max)
								font-size: 25px
						.wraper-button-order
							width: 100%
							position: absolute
							text-align: center
							.button-order-now
								display: inline-block
								padding: 5px 20px
								font-family: 'Open Sans', sans-serif
								color: #fff
								font-size: 14px
								position: relative
								background: #ff6600
								border: 1px solid #fff
								border-radius: 8px
								-webkit-border-radius: 8px
								text-decoration: none
								opacity: 0
								&:hover
									background: #fff
									color: #ff6600
									border: 1px solid #ff6600

#polygon-section
	background: url(../images/center-bg-polygon.png) no-repeat center
	background-size: cover
	padding: 45px 0
	position: relative
	z-index: 500
	margin-top: -115px
	min-height: 550px
	@media (min-width: 1600px)
		min-height: 700px
		margin-top: -127px
	@media (max-width: $screen-md-min)
		background: #ffcc69
		padding: 20px 0 20px 0
	@media (max-width: $screen-xs-max)
		padding: 10px 0 20px 0
	.polygon-section-wraper
		padding: 0px 0
		.main-pane-tab
			position: relative
			margin-top: 0px
			@media (max-width: $screen-xs-max)
				margin-top: 10px
			.nav-tabs
				border: none
				li
					+background-image(linear-gradient(#fff 50%, #ebebeb 50%))
					padding: 0 10px
					@media (max-width: $screen-xs-max)
						padding: 0 0px
					a
						color: #444444
						font-family: 'Open Sans', sans-serif
						font-size: 14px
						padding: 10px 9px 10px 23px
						text-transform: uppercase
						border: none
					&.active, &:hover
						background: #ffa229
					&.hotel
						border-radius: 8px 0 0 0
						-webkit-border-radius: 8px 0 0 0
						a
							background: url(../images/hotel-ico.png) left center no-repeat
							@media (max-width: $screen-xs-max)
								background: url(../images/hotel-ico.png) 6px center no-repeat
								background-size: 13px
						&.active, &:hover
							a
								background: url(../images/hotel-hover-ico.png) left center no-repeat
								color: #fff
								@media (max-width: $screen-xs-max)
									background: url(../images/hotel-hover-ico.png) 6px center no-repeat
									background-size: 13px
					&.ticket
						border-radius: 0 0 0 0
						-webkit-border-radius: 0 0 0 0
						border-left: 1px solid #d2d2d2
						border-right: 1px solid #d2d2d2
						a
							background: url(../images/plane-ico.png) left center no-repeat
							padding: 10px 9px 10px 34px
							@media (max-width: $screen-xs-max)
								background: url(../images/plane-ico.png) 6px center no-repeat
								background-size: 23px
						&.active, &:hover
							a
								background: url(../images/plane-hover-ico.png) left center no-repeat
								color: #fff
								@media (max-width: $screen-xs-max)
									background: url(../images/plane-hover-ico.png) 6px center no-repeat
									background-size: 23px
					&.voucher
						border-radius: 0 8px 0 0
						-webkit-border-radius: 0 8px 0 0
						a
							background: url(../images/voucher-ico.png) left center no-repeat
							padding: 10px 9px 10px 40px
							@media (max-width: $screen-xs-max)
								background: url(../images/voucher-ico.png) 6px center no-repeat
								background-size: 23px
						&.active, &:hover
							a
								background: url(../images/voucher-hover-ico.png) left center no-repeat
								color: #fff
								@media (max-width: $screen-xs-max)
									background: url(../images/voucher-hover-ico.png) 6px center no-repeat
									background-size: 23px
			.tab-content
				background: #ffa229
				padding: 25px 30px 30px 30px
				border-radius: 0px 15px 15px 15px
				-webkit-border-radius: 0px 15px 15px 15px
				@media (max-width: $screen-xs-max)
					padding: 13px 3px
					border-radius: 0px 6px 6px 6px
					-webkit-border-radius: 0px 6px 6px 6px
				.destination-wraper
					padding-right: 10px
					&.date
						padding-left: 32px
						padding-right: 16px
						min-height: 297px
						@media (max-width: $screen-md-min)
							margin: 40px 0
							padding-left: 16px
						@media (max-width: $screen-xs-max)
							margin: 20px 0
							padding-left: 0
							padding-right: 14px
							min-height: 0
						.step-direction
							background: url("../images/step-2.png") no-repeat
							background-size: cover
							padding: 14px 20px 29px 80px
							@media (min-width: 1600px)
								padding: 14px 20px 29px 100px
							@media (min-width: 1320px) and (max-width: 1380px)
								background: url("../images/step-2.png") no-repeat right top
								height: 91px
								padding: 14px 20px 19px 60px
								background-size: cover
							@media (min-width: 1260px) and (max-width: 1319px)
								height: 87px
								span
									font-size: 35px
							@media (min-width: 1200px) and (max-width: 1259px)
								height: 84px
								padding: 14px 20px 29px 70px
								span
									font-size: 35px
							@media (max-width: $screen-md-max)
								background: url("../images/step-2.png") no-repeat
								background-size: cover
								width: 284px
								height: 64px
								padding: 11px 20px 25px 58px
							@media (max-width: $screen-md-min)
								width: 284px
								height: 64px
								padding: 10px 20px 15px 59px
								background: url("../images/step-2.png") no-repeat
								background-size: cover
							@media (max-width: $screen-xs-max)
								background: url("../images/step-2.png") no-repeat
								background-size: cover
								width: 284px
								height: 64px
								padding: 10px 20px 15px 48px
						.form-search-city
							margin-top: 13px
							@media (max-width: $screen-md-min)
								&.add-min
									min-height: 0!important
							@media (max-width: $screen-xs-max)
								&.add-min
									min-height: 0!important
							.wraper-each-input
								&.top
									margin-bottom: 0
							.radio-input 
								margin: 13px 0 2px 0
								label
									color: #fff
									font-family: 'Open Sans', sans-serif
									font-size: 14px
									font-weight: 300
									letter-spacing: 0.5px
									display: inline-block
									margin-right: 10px
									cursor: pointer
									.radio-way
										display: inline-block
										margin-right: 5px
									input[type="radio"].radio-way-once
										margin-right: 5px!important
									input[type="radio"].radio-way-twice
										margin-right: 5px!important
							.night-spend
								display: inline-block
								label
									color: #fff
									font-family: 'Open Sans', sans-serif
									font-size: 14px
									font-weight: 300
									letter-spacing: 0.5px
									display: inline-block
									margin-right: 10px
									margin-top: 15px
								.long-night
									display: block
									width: 106px
									padding: 10px 10px
									color: #444444
									border-radius: 5px
									-webkit-border-radius: 5px
									border: none
									font-family: "Open Sans", sans-serif
									font-size: 18px
									font-weight: 300
									margin-bottom: 20px
									@media (max-width: $screen-xs-max)
										width: 100px
										margin-bottom: 10px
									
					&.step3
						padding-right: 0px
						padding-left: 10px
						@media (max-width: $screen-md-min)
							padding-left: 6px
						@media (max-width: $screen-xs-max)
							padding-right: 14px
							padding-left: 0px
						.step-direction
							background: url("../images/step-3.png") no-repeat
							background-size: cover
							padding: 21px 20px 25px 80px
							span
								position: relative
								top: -5px
								@media (max-width: $screen-xs-max)
									top: 0
							@media (min-width: 1600px)
								padding: 21px 20px 25px 110px
							@media (min-width: 1260px) and (max-width: 1319px)
								span
									top: -10px
							@media (min-width: 1200px) and (max-width: 1259px)
								span
									top: -10px
							@media (max-width: $screen-md-max)
								background: url("../images/step-3.png") no-repeat
								background-size: cover
								width: 284px
								height: 64px
								padding: 11px 20px 25px 58px
							@media (max-width: $screen-md-min)
								width: 284px
								height: 64px
								background: url("../images/step-3.png") no-repeat
								background-size: cover
								padding: 15px 20px 15px 59px
							@media (max-width: $screen-xs-max)
								width: 284px
								height: 64px
								padding: 10px 20px 15px 48px
						.form-search-city
							margin-top: 13px
							.night-spend
								display: inline-block
								vertical-align: top
								margin-left: 20px
								label
									color: #fff
									font-family: 'Open Sans', sans-serif
									font-size: 14px
									font-weight: 300
									letter-spacing: 0.5px
									display: inline-block
									margin-right: 10px
									
								.long-night
									display: block
									width: 106px
									padding: 10px 10px
									color: #444444
									border-radius: 5px
									-webkit-border-radius: 5px
									border: none
									font-family: "Open Sans", sans-serif
									font-size: 18px
									font-weight: 300
									margin-bottom: 20px
									border: 1px solid #fff
									@media (max-width: $screen-xs-max)
										width: 100px
										margin-bottom: 10px
							.wraper-each-input
								&.top
									margin-bottom: 58px
									position: relative
									@media (max-width: $screen-md-min)
										margin-bottom: 28px
								.passenger-message
									font-family: 'Open Sans', sans-serif
									padding: 10px
									background-color: #ffffff
									border: 2px solid #ff6600
									+border-radius( 5px )
									position: absolute
									top: 70px
									left: 0
									z-index: 9990

									&:after,
									&:before
										content: ''
										display: block
										width: 0
										height: 0
										border-color: transparent
										border-style: solid
										position: absolute
										top: -20px
										left: 48px

									&:before
										border-bottom-color: #ff6600
										border-width: 14px
										top: -28px
										left: 44px

									&:after
										border-bottom-color: #ffffff
										border-width: 10px

									&.right
										&:before
											left: 238px

										&:after
											left: 242px

									&.center
										&:before
											left: 141px

										&:after
											left: 145px

								.wraper-passenger
									display: inline-block
									margin-right: 8px
									@media (max-width: $screen-xs-max)
										margin-right: 0
									.icon-pass
										background: #e9e9e9
										padding: 10px 17px
										display: inline-block
										border-radius: 5px 0px 0px 5px
										-webkit-border-radius: 5px 0px 0px 5px
										width: 48px
										height: 48px
										vertical-align: top
										@media (max-width: $screen-md-max)
											width: 30px
										@media (max-width: $screen-xs-max)
											width: 35px
										&.adult
											background: url(../images/adult-ico.png) no-repeat center #e9e9e9
										&.baby
											background: url(../images/baby.png) no-repeat center #e9e9e9
										&.child
											background: url(../images/child.png) no-repeat center #e9e9e9
										&.hotel
											background: url(../images/hotel-ico.png) no-repeat center #e9e9e9
									.passenger-form
										padding: 10px 15px 13px 15px
										border: 1px solid #fff
										width: 48px
										text-align: center
										height: 48px
										margin-left: -5px
										border-radius: 0px 5px 5px 0px
										-webkit-border-radius: 0px 5px 5px 0px
										color: #444444
										font-family: 'Open Sans', sans-serif
										font-size: 16px
										vertical-align: top
										@media (max-width: $screen-md-max)
											width: 40px
										@media (max-width: $screen-xs-max)
											width: 41px
										+input-placeholder
											color: #444444
										&:focus
											border: none!important
										&:disabled
											background: #d3d3d3
											border: 1px solid #d3d3d3
							.wraper-button-find-ticket
								.find-ticket-button
									display: block
									text-align: center
									font-family: 'Open Sans', sans-serif
									background: #ff6600
									color: #fff
									font-size: 20px
									width: 90%
									padding: 10px 25px
									border-radius: 8px
									-webkit-border-radius: 8px
									border: 1px solid #fff
									text-transform: uppercase
									-webkit-transition: all 0.2s ease
									-moz-transition: all 0.2s ease
									-o-transition: all 0.2s ease
									transition: all 0.2s ease
									@media (max-width: $screen-xs-max)
										width: 96%
										margin-bottom: 7px
									&:hover
										background: #fff
										color: #ff6600
										border: 1px solid #ff6600
					.step-direction
						background: url("../images/step-1.png") no-repeat
						padding: 15px 20px 30px 68px
						background-size: cover
						width: 100%
						height: 100px
						@media (min-width: 1600px)
							padding: 15px 20px 30px 88px
						@media (min-width: 1320px) and (max-width: 1380px)
							background: url("../images/step-1.png") no-repeat right top
							height: 93px
							padding: 15px 20px 30px 58px
							background-size: cover
						@media (min-width: 1260px) and (max-width: 1319px)
							height: 87px
							padding: 12px 20px 30px 68px
							span
								font-size: 35px
						@media (min-width: 1200px) and (max-width: 1259px)
							height: 84px
							padding: 9px 20px 30px 58px
							span
								font-size: 35px
						@media (max-width: $screen-md-max)
							width: 284px
							height: 64px
							padding: 11px 20px 25px 38px
						@media (max-width: $screen-md-min)
							width: 284px
							height: 64px
							padding: 9px 20px 15px 48px
						@media (max-width: $screen-xs-max)
							width: 284px
							height: 64px
							padding: 10px 20px 15px 48px
						span
							color: #fff
							font-family: 'gooddogregular'
							font-size: 40px
							@media (min-width: 1600px)
								font-size: 65px
							@media (max-width: $screen-md-max)
								font-size: 29px
							@media (max-width: $screen-xs-max)
								font-size: 29px
							@media (max-width: $screen-xs-max)
								font-size: 30px
					.form-search-city
						padding-left: 29px
						margin-top: 10px
						.wraper-each-input
							&.date
								.text-form
									background: url(../images/cal-ico.png) no-repeat 8px 9px #fff
									padding: 10px 10px 10px 40px
									width: 89%
							&.top
								margin-bottom: 40px
								@media (max-width: $screen-xs-max)
									margin-bottom: 15px!important
							.tagline-step
								display: block
								font-family: 'Open Sans', sans-serif
								font-size: 14px
								color: #fff
								font-weight: 300
								letter-spacing: 0.5px
							.text-form
								display: block
								width: 90%
								padding: 10px 10px
								color: #444444
								border-radius: 5px
								-webkit-border-radius: 5px
								border: none
								font-family: 'Open Sans', sans-serif
								font-size: 18px
								font-weight: 300
								margin-bottom: 0px
								border: 1px solid #fff
								+input-placeholder
									color: #444444

								&:focus
									outline: none

#why-us
	@media (max-width: $screen-xs-max)
		padding: 20px 0
	.add-margin
		margin: 50px 0
		@media (max-width: $screen-md-min)
			margin: 30px 0
		@media (max-width: $screen-xs-max)
			margin: 25px 0 0 0
	.wraper-why-us
		h2
			text-align: center
			font-family: 'gooddogregular'
			font-size: 60px
			color: #f58214
			margin-top: 0
			@media (max-width: $screen-md-min)
				margin-top: 17px
			@media (max-width: $screen-xs-max)
				font-size: 40px
		.wraper-reason
			text-align: center
			@media (max-width: $screen-xs-max)
				margin-bottom: 40px
				&.last
					margin-bottom: 0
			.wraper-icon
				height: 60px
				@media (max-width: $screen-xs-max)
					height: 40px
			h3
				font-family: 'gooddogregular'
				font-size: 27px
				color: #f58214
				vertical-align: top
				@media (max-width: $screen-md-min)
					font-size: 20px
			p
				color: #444444
				font-size: 16px
				font-family: 'Open Sans', sans-serif
				vertical-align: top
				line-height: 26px
				@media (max-width: $screen-md-min)
					font-size: 14px
					line-height: 18px
#grey-section
	background: #f0f0f0
	.wraper-our-partner
		text-align: center
		padding: 37px 20px 40px 10px
		@media (max-width: $screen-md-max)
			.image-logo-partner
				padding: 29.5px 0
				img
					width: 100%
				@media (max-width: $screen-md-min)
					padding: 0
				@media (max-width: $screen-xs-max)
					padding: 0
		@media (max-width: $screen-md-min)
			padding: 27px 20px 0px 20px
		@media (max-width: $screen-xs-max)
			padding: 20px 20px 30px 20px
			border-bottom: 1px solid #d2d2d2
		h3
			font-family: 'gooddogregular'
			font-size: 40px
			color: #f58214
			vertical-align: top
			margin: 0 0 30px 0
			@media (max-width: $screen-md-min)
				margin: 0 0 20px 0
			@media (max-width: $screen-xs-max)
				margin: 0 0 20px 0
		.link-another-partner
			display: inline-block
			cursor: pointer
			padding: 10px 25px
			font-family: 'Open Sans', sans-serif
			font-size: 20px
			color: #fff
			background: #ff6600
			-webkit-border-radius: 8px
			border-radius: 8px
			margin: 30px 0 0 0
			text-decoration: none
			-webkit-transition: all 0.2s ease
			-moz-transition: all 0.2s ease
			-o-transition: all 0.2s ease
			transition: all 0.2s ease
			border: 1px solid #ff6600
			&:hover
				background: #fff
				color: #ff6600
				border: 1px solid #ff6600
	.wraper-email-subscribe
		text-align: center
		padding: 30px 0 40px
		border-left: 1px solid #d2d2d2
		@media (max-width: $screen-md-min)
			border-top: 1px solid #d2d2d2
			border-left: none
			padding: 20px 0 40px
			margin-top: 35px
		@media (max-width: $screen-xs-max)
			margin-top: 0px
			border: none
			padding: 10px 0
		h3
			color: #444444
			font-family: 'Open Sans', sans-serif
			text-align: center
			font-weight: 300
			width: 80%
			margin: 10px auto
			line-height: 32px
			@media (max-width: $screen-xs-max)
				font-size: 18px
				line-height: 25px
				margin: 10px auto 20px auto
		.wraper-input-subcribe
			position: relative
			.absolute-img
				position: absolute
				right: 0
				top: -10px
				@media (max-width: $screen-xs-max)
					display: none
			.subcribe-form
				border: 1px solid #c3c3c3
				-webkit-border-radius: 5px
				border-radius: 5px
				padding: 12px 20px 12px 60px
				display: block
				font-size: 17px
				font-weight: 300
				width: 80%
				margin: 15px  auto
				font-family: 'Open Sans', sans-serif
				&.user
					background: url("../images/user-icon.png") no-repeat 10px 9px #fff
					padding: 12px 20px 12px 50px
				&.email
					background: url("../images/mail.png") no-repeat 10px 9px #fff
				@media (max-width: $screen-xs-max)
					margin: 15px auto 25px
		.link-another-partner
			display: inline-block
			padding: 10px 25px
			font-family: 'Open Sans', sans-serif
			font-size: 20px
			color: #fff
			background: #ff6600
			-webkit-border-radius: 8px
			border-radius: 8px
			margin: 30px 0 0 0
			text-decoration: none
			border: none
			text-transform: uppercase
			-webkit-transition: all 0.2s ease
			-moz-transition: all 0.2s ease
			-o-transition: all 0.2s ease
			transition: all 0.2s ease
			border: 1px solid #ff6600
			&:hover
				background: #fff
				color: #ff6600
				border: 1px solid #ff6600
			@media (max-width: $screen-xs-max)
				margin: 0px 0 20px 0
#white-sosmed-section
	padding: 50px 0px 40px 0
	@media (max-width: $screen-xs-max)
		padding: 20px 0
	ul
		padding: 0
		text-align: center
		margin-bottom: 0
		li
			list-style: none
			display: inline-block
			margin: 0px 20px
			@media (max-width: $screen-xs-max)
				margin: 0 1px
			a
				position: relative
				text-indent: -9999px
				display: block
				width: 72px
				height: 72px
				-webkit-transition: all 0.2s ease
				-moz-transition: all 0.2s ease
				-o-transition: all 0.2s ease
				transition: all 0.2s ease
				-ms-transform: scale(0.8)
				-webkit-transform: scale(0.8)
				transform: scale(0.8)
				&.fb
					background: url("../images/sosmed.png") no-repeat 0 0
				&.tw
					background: url("../images/sosmed.png") no-repeat -123px 0
				&.ins
					background: url("../images/sosmed.png") no-repeat -246px 0
				&.gplus
					background: url("../images/sosmed.png") no-repeat -369px 0
				&:hover
					-ms-transform: scale(0.9)
					-webkit-transform: scale(0.9)
					transform: scale(0.9)
#red-background
	padding: 40px 0
	background: url("../images/footerbg.png") no-repeat
	min-height: 276px
	background-size: cover
	position: relative
	.chat-ico-link
		display: block
		width: 57px
		height: 57px
		text-indent: -9999px
		bottom: 10px
		right: 10px
		position: fixed
		z-index: 600
		background: url(../images/chat-ico.png) no-repeat 0 0
	.wraper-bottom-menu
		clear: both
		@media (max-width: $screen-xs-max)
			margin-bottom: 30px
			text-align: center
			&.last
				width: 255px
				margin: -20px auto 10px auto
		h3
			font-family: 'gooddogregular'
			color: #fff
			font-size: 28px
			margin-bottom: 20px
			text-transform: uppercase
			margin-top: 0
			letter-spacing: 0.5px
		&.no-header
			@media (max-width: $screen-xs-max)
				margin-top: -70px
			ul
				margin-top: 50px
		ul
			padding: 0
			li
				list-style: none
				margin: 10px 0
				a
					color: #fff
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					letter-spacing: 0.5px
					font-size: 15px
					text-decoration: none
					&:hover, &.active
						color: #ffc000
		.icon-call
			display: block
			font-family: 'Montserrat', sans-serif
			background: url("../images/call-ico.png") no-repeat left center
			padding: 0 0 0 80px
			color: #fff
			font-size: 14px
			line-height: 24px
			@media (max-width: $screen-md-min)
				width: 300px
				margin: 0 auto
				position: relative
				top: 15px
			font
				font-size: 20px
			@media (max-width: $screen-xs-max)
				text-align: left
		.wraper-logo-bottom
			text-align: center
			padding: 20px 0
			@media (max-width: $screen-md-min)
				img
					width: 100px
					margin: 20px 0
			@media (max-width: $screen-xs-max)
				display: none

//not-home
#faq-page
	padding: 50px 0
	.wraper-pane-left
		background: #fff5d9
		padding: 30px 30px 20px 30px
		ul
			padding: 0
			margin: 0
			li
				list-style: none
				margin-bottom: 20px
				border-bottom: 1px solid #e6dbbd
				padding-bottom: 20px
				padding-left: 20px
				&.active, &:hover
					background: url(../images/arrow-list.png) no-repeat  0 5px
					a
						color: #ff6600
				&:last-child
					margin-bottom: 0
					border-bottom: none
				a
					color: #444444
					font-size: 18px
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					text-decoration: none
					display: block
					@media (max-width: $screen-md-max)
						font-size: 15px
					&:hover
						color: #ff6600
	.wraper-tab-faq
		padding-left: 20px
		.tab-content
			.faq-list-wraper
				h2
					font-family: 'gooddogregular'
					font-size: 48px
					color: #f58214
					margin: 0
					@media (max-width: $screen-xs-max)
						font-size: 38px
						margin: 25px 0
				.panel
					-webkit-box-shadow: none
					box-shadow: none
					border: none
					padding: 20px 0
					border-bottom: 1px solid #dedede
					.panel-heading
						border: none
						background: #fff
						.panel-title
							a		
								font-size: 16px
								line-height: 24px
								font-family: 'Open Sans', sans-serif
								text-decoration: none
								padding: 10px  10px 20px 60px
								display: block
								background: url(../images/ask-icon-active.png) no-repeat 0 10px
								color: #b17b25
								&.collapsed
									background: url(../images/ask-icon.png) no-repeat 0 10px
									color: #444444
									&:hover
										background: url(../images/ask-icon-active.png) no-repeat 0 10px
										color: #b17b25
					.panel-body
						border: none
						font-size: 16px
						padding-left: 77px
						color: #444444
						line-height: 30px
						font-family: 'Open Sans', sans-serif
						font-weight: 300
						@media (max-width: $screen-xs-max)
							padding-left: 0
						b
							display: block
				.liberal-content
					p
						display: block
						margin-bottom: 20px
						margin-top: 30px
						color: #444444
						font-size: 17px
						line-height: 30px
						font-weight: 300
						.eazy-small-stye
							display: block
							font-family: 'gooddogregular'
							color: #f58214
							font-size: 25px
#about-page
	background: url(../images/overlay-img.png) no-repeat
	padding: 40px 0px
	background-size: cover
	min-height: 668px
	.block-left-about
		width: 55%
		padding: 20px 30px 100px 30px
		background: #fff5d9
		display: inline-block
		@media (max-width: $screen-md-min)
			width: 100%
			display: block
			margin-bottom: 30px
		h3
			font-family: 'gooddogregular'
			color: #f58214
			font-size: 40px
			margin: 0
		p
			display: block
			margin-bottom: 20px
			margin-top: 10px
			color: #444444
			font-size: 17px
			line-height: 25px
			font-weight: 300
	.block-right-about
		width: 55%
		display: inline-block
		padding: 25px 30px 30px 30px
		background: #f5e5c9
		position: relative
		top: -110px
		left: 42%
		@media (max-width: $screen-md-min)
			width: 100%
			top: 0
			left: 0
		h3
			font-family: 'gooddogregular'
			color: #f58214
			font-size: 40px
			margin: 0
		p
			display: block
			margin-bottom: 20px
			margin-top: 10px
			color: #444444
			font-size: 17px
			line-height: 25px
			font-weight: 300
			&.mission-p
				margin-bottom: 0
		.absolute-image
			position: absolute
			top: -270px
			right: 80px
			@media (max-width: $screen-md-min)
				display: none
.copyright
	padding: 20px 0
	text-align: center
	color: #777777
	font-size: 15px
	font-family: 'Open Sans', sans-serif
	font-weight: 300
	letter-spacing: 0.5px
.modal-backdrop
	background: url(../images/bg-modal.jpg) no-repeat
	background-size: cover
	&.in
		opacity: 1
//modal css
#modal-thanks
	.modal-dialog
		padding: 20px
		.modal-content
			background: rgba(255,255,255,0.9)
			@media (max-width: $screen-md-max)
				padding: 0px 0 30px 0
		.modal-header
			border: none
			text-align: center
			.close
				&.red
					background: #ff3000
					padding: 0px 4px 1px 4px
					opacity: 1
					color: #fff
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					position: absolute
					top: -1px
					right: -1px
			.login-title
				color: #f58214
				font-family: 'gooddogregular'
				font-size: 60px
				@media (max-width: $screen-xs-max)
					font-size: 40px
		.modal-body
			padding: 0 50px 30px
			@media (max-width: $screen-xs-max)
				padding: 0 10px 30px
			.forgot-wraper
				p
					text-align: center
					color: #f58214
					font-size: 18px
					font-family: 'Open Sans', sans-serif
					font-weight: 300
#modal-forgot-password
	.modal-dialog
		padding: 20px
		.modal-content
			background: rgba(255,255,255,0.9)
		.modal-header
			border: none
			text-align: center
			.close
				&.red
					background: #ff3000
					padding: 0px 4px 1px 4px
					opacity: 1
					color: #fff
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					position: absolute
					top: -1px
					right: -1px
			.login-title
				color: #f58214
				font-family: 'gooddogregular'
				font-size: 60px
				@media (max-width: $screen-xs-max)
					font-size: 40px
		.modal-body
			padding: 0 50px 30px
			.forgot-wraper
				p
					text-align: center
					color: #f58214
					font-size: 18px
					font-family: 'Open Sans', sans-serif
					font-weight: 300
				.login-form
					border: 1px solid #c3c3c3
					background: #fff
					padding: 10px 13px
					border-radius: 6px
					width: 97%
					color: #666666
					font-size: 17px
					font-weight: 300
					font-family: 'Open Sans', sans-serif
					width: 77%
					display: block
					margin: 25px auto 13px
				.submit-email
					display: block
					width: 77%
					padding: 10px 25px
					font-family: "Open Sans", sans-serif
					font-size: 20px
					color: #fff
					background: #ff6600
					-webkit-border-radius: 8px
					border-radius: 8px
					text-decoration: none
					border: none
					margin: 0 auto 20px
					text-transform: uppercase
					font-weight: 300


#modal-login
	.modal-dialog
		padding: 20px
		.modal-content
			background: rgba(255,255,255,0.9)
		.modal-header
			border: none
			text-align: center
			@media (max-width: $screen-xs-max)
				padding: 0px 15px
			.close
				&.red
					background: #ff3000
					padding: 0px 4px 1px 4px
					opacity: 1
					color: #fff
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					position: absolute
					top: -1px
					right: -1px
			.login-title
				color: #f58214
				font-family: 'gooddogregular'
				font-size: 60px
				@media (max-width: $screen-xs-max)
					margin: 10px 0 0 0
		.modal-body
			@media (max-width: $screen-md-min)
				padding: 15px 15px 55px 15px
			.right-pos
				border-right: 1px dashed #c4c4c4
				padding-bottom: 28px
				margin-bottom: 20px
				@media (max-width: $screen-xs-max)
					border: none
			.wraper-block-login
				padding: 0 30px
				@media (max-width: $screen-xs-max)
					padding: 0
				h3
					color: #f58214
					font-size: 18px
					margin-bottom: 20px
					font-family: 'Open Sans', sans-serif
					text-transform: uppercase
				.login-form
					border: 1px solid #c3c3c3
					background: #fff
					padding: 10px 13px
					border-radius: 6px
					width: 97%
					color: #666666
					margin-bottom: 15px
					font-size: 17px
					font-weight: 300
					font-family: 'Open Sans', sans-serif
					&:last-child
						margin-bottom: 5px
				.forgot
					display: block
					text-align: right
					margin-right: 11px
					color: #666666
					font-weight: 300
					font-family: 'Open Sans', sans-serif
					font-size: 15px
				.input-submit-login-wraper
					margin-top: 19px
					@media (max-width: $screen-md-max)
						text-align: center
					&.register
						.submit-login
							padding: 12px 40px 12px 18px
							@media (max-width: $screen-xs-max)
								padding: 12px
						span
							margin: 0 25px 0 20px
							@media (max-width: $screen-xs-max)
								margin: 0 3px
						.fb-login
							padding: 12px 26px 12px 39px
							@media (max-width: $screen-xs-max)
								padding: 12px
					.submit-login
						font-family: 'Open Sans', sans-serif
						font-size: 15px
						color: #fff
						background: url(../images/login-rect.png) no-repeat
						padding: 12px 40px 12px 31px
						display: inline-block
						border: none
						text-transform: uppercase
						font-weight: 300
						&:focus
							outline: none
						@media (max-width: $screen-xs-max)
							width: 80px
							background-size: cover
							padding: 14px
							background: #ff6600
							border-radius: 5px
							-webkit-border-radius: 5px
							font-size: 12px
					span
						margin: 0 33px
						display: inline-block
						color: #666666
						font-size: 15px
						@media (max-width: $screen-xs-max)
							margin: 0 3px
					.fb-login
						font-family: 'Open Sans', sans-serif
						font-size: 15px
						color: #fff
						background: url(../images/fb-login.png) no-repeat
						padding: 12px 26px 12px 41px
						display: inline-block
						border: none
						text-transform: uppercase
						font-weight: 300
						&:focus
							outline: none
						@media (max-width: $screen-xs-max)
							width: 80px
							background-size: cover
							padding: 14px
							background: #3b5a9b
							font-size: 12px
							border-radius: 5px
							-webkit-border-radius: 5px
#personal-data-section
	position: relative
	background: url(../images/bg-modal.jpg) no-repeat
	background-size: cover
	@media (max-width: $screen-md-max)
		background: url(../images/bg-modal.jpg) center top no-repeat
		background-size: cover
		min-height: 1000px
	#modal-personal-data
		.modal-dialog
			padding: 20px
		.modal-content
			background: rgba(255,255,255,0.9)
			@media (max-width: $screen-xs-max)
				padding: 15px 0 0 0
		.modal-header
			border: none
			text-align: center
			@media (max-width: $screen-xs-max)
				padding: 15px 0 0 0
			.close
				&.red
					background: #ff3000
					padding: 0px 4px 1px 4px
					opacity: 1
					color: #fff
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					position: absolute
					top: -1px
					right: -1px
			.login-title
				color: #f58214
				font-family: 'gooddogregular'
				font-size: 60px
				margin: 0
				@media (max-width: $screen-xs-max)
					font-size: 40px
		.modal-body
			padding: 0
			@media (max-width: $screen-xs-max)
				padding: 0px 0 0 0
			.right-pos
				border-right: 1px dashed #c4c4c4
				padding-bottom: 28px
				margin-bottom: 20px
			.left-pos
				border-left: 1px dashed #c4c4c4
				padding-bottom: 28px
				margin: 0px 0 20px 0
				@media (max-width: $screen-xs-max)
					margin-bottom: 0
					padding-bottom: 0
			.wraper-block-login
				padding: 0 30px
				h3
					color: #f58214
					font-size: 18px
					margin-bottom: 20px
					font-family: 'Open Sans', sans-serif
					text-transform: uppercase
					@media (max-width: $screen-xs-max)
						font-size: 16px
				.login-form
					border: 1px solid #c3c3c3
					background: #fff
					padding: 10px 13px
					border-radius: 6px
					width: 97%
					color: #666666
					margin-bottom: 20px
					font-size: 17px
					font-weight: 300
					font-family: 'Open Sans', sans-serif
					&:last-child
						margin-bottom: 5px
					@media (max-width: $screen-xs-max)
						padding: 8px 13px
						font-size: 12px
		.input-submit-personal
			.submit-profile
				display: block
				width: 97%
				padding: 10px 25px
				font-family: "Open Sans", sans-serif
				font-size: 18px
				color: #fff
				background: #ff6600
				-webkit-border-radius: 8px
				border-radius: 8px
				text-decoration: none
				border: none
				margin: 20px 0 20px 0
				text-transform: uppercase
				font-weight: 300
				@media (max-width: $screen-xs-max)
					margin: 10px 0 10px 0
				&:hover
					color: #ff6600
					background: #fff
.styled-select
	height: 29px
	overflow: hidden
	width: 240px
	select
		background: transparent
		border: none
		font-size: 14px
		height: 46px
		padding: 5px
		width: 268px
	&.slate
		background: url("../images/dropdown-arrow.png") no-repeat 97% 17px #fff
		height: 46px
		width: 96%
		border: 1px solid #c3c3c3
		border-radius: 6px
		margin-bottom: 20px
		margin-top: 58px
		@media (max-width: $screen-xs-max)
			margin-top: 10px
			height: 35px
			background: url("../images/dropdown-arrow.png") no-repeat 97% 11px #fff
		select
			border: none
			font-size: 17px
			height: 46px
			width: 110%
			font-size: 17px
			font-weight: 300
			font-family: 'Open Sans', sans-serif
			margin-left: 5px
			cursor: pointer
			outline: none
			color: #a9a9a9
			@media (max-width: $screen-xs-max)
				height: 35px
			&:focus
				outline: none
			&:active
				outline: none
			&:-moz-focusring
				color: transparent
				text-shadow: 0 0 0 #000
#contact-page
	padding: 30px 0px 15px 0px
	@media (max-width: $screen-xs-max)
		padding: 30px 0px 30px 0px
	.map-wraper
		margin: 10px 0
		width: 99%
		height: 360px
	.block-left-contact
		display: inline-block
		width: 50%
		margin: 30px 0
		background: #f5e5c9
		padding: 25px
		vertical-align: top
		min-height: 753px
		@media (max-width: $screen-xs-max)
			width: 100%
			min-height: 300px
		h3
			font-family: "gooddogregular"
			font-size: 48px
			color: #f58214
			margin: 0
			line-height: 40px
			@media (max-width: $screen-md-min)
				font-size: 38px
		p
			font-family: 'Open Sans', sans-serif
			color: #444444
			font-size: 17px
			margin-top: 30px
			line-height: 25px
		.man-ico
			background: url("../images/man-ico.png") no-repeat left center
			padding: 10px 10px 10px 40px 
			display: block
			font-family: 'Open Sans', sans-serif
			color: #444444
			font-size: 17px
			margin: 20px 0
		.mail-contact
			font-family: 'Open Sans', sans-serif
			color: #444444
			font-size: 17px
			margin: 20px 0
			background: url("../images/mail-small.png") left top no-repeat
			padding: 0px 10px 10px 40px
			display: block
		.wraper-image-map
			text-align: center
			padding: 20px 
			@media (max-width: $screen-md-min)
				img
					width: 100%
	.block-right-contact
		display: inline-block
		width: 49%
		margin: 30px 0 10px -5px
		background: #fff5d9
		padding: 25px
		vertical-align: top
		min-height: 753px
		@media (max-width: $screen-xs-max)
			width: 100%
			min-height: 300px
			margin: 10px 0 10px 0px
		h3
			font-family: "gooddogregular"
			font-size: 48px
			color: #f58214
			margin: 0
			@media (max-width: $screen-md-min)
				font-size: 38px
		p
			font-family: 'Open Sans', sans-serif
			color: #444444
			font-size: 17px
			margin-top: 30px
			margin-bottom: 20px
		.wraper-contact
			.contact-form
				border: 1px solid #c3c3c3
				background: #fff
				padding: 10px 13px
				border-radius: 6px
				width: 97%
				display: block
				color: #666666
				font-size: 17px
				font-weight: 300
				font-family: "Open Sans", sans-serif
				margin-bottom: 15px
			.contact-text
				border: 1px solid #c3c3c3
				background: #fff
				padding: 10px 13px
				border-radius: 6px
				width: 97%
				display: block
				color: #666666
				margin-bottom: 15px
				font-size: 17px
				font-weight: 300
				font-family: "Open Sans", sans-serif
				min-height: 120px
				&:focus
					outline: none
					border: 1px solid #f58214!important
			.send-contact
				display: block
				width: 47%
				float: right
				padding: 10px 25px
				font-family: "Open Sans", sans-serif
				font-size: 18px
				color: #fff
				background: #ff6600
				-webkit-border-radius: 8px
				border-radius: 8px
				text-decoration: none
				border: none
				margin-top: 5px
				margin-right: 14px
				text-transform: uppercase
				font-weight: 300
				border: 1px solid #ff6600
				&:hover
					color: #ff6600
					background: #fff
					border: 1px solid #ff6600



